{% extends "layouts/base.html" %}

{% block title %}
Edit Patient
{% endblock %}

{% block content %}

<h2>Edit Patient</h2>

<form method="POST">

<div class="mb-3">
<label>Name</label>
<input type="text" name="patient_name" class="form-control"
value="{{ patient.patient_name }}" required>
</div>

<div class="mb-3">
<label>Age</label>
<input type="number" name="age" class="form-control"
value="{{ patient.age }}">
</div>

<div class="mb-3">
<label>Gender</label>

<select name="gender" class="form-select">

<option value="Male"
{% if patient.gender=="Male" %}selected{% endif %}>Male</option>

<option value="Female"
{% if patient.gender=="Female" %}selected{% endif %}>Female</option>

<option value="Other"
{% if patient.gender=="Other" %}selected{% endif %}>Other</option>

</select>

</div>

<div class="mb-3">
<label>Phone</label>
<input type="text" name="phone" class="form-control"
value="{{ patient.phone }}">
</div>

<div class="mb-3">
<label>Address</label>
<textarea name="address"
class="form-control">{{ patient.address }}</textarea>
</div>

<div class="mb-3">
<label>Notes</label>
<textarea name="notes"
class="form-control">{{ patient.notes }}</textarea>
</div>

<button class="btn btn-primary">

Update Patient

</button>

</form>

{% endblock %}